################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/build_vcc

/packages
/.vs/DRCubed/v16/TestStore/0
/accumulateExample/clang-cl
/accumulateExample/ICC2022
/accumulateExample/Release
/GettingStarted/clang-cl
/GettingStarted/ICC2022
/GettingStarted/Release
/GettingStarted/x64/Release
/.vs/Vectorisation/v16/ipch/AutoPCH/4e9dfb20cefae0b2
/accumulateExample/x64/Release
/inverseCumNormalExample/clang-cl
/inverseCumNormalExample/ICC2022
/inverseCumNormalExample/Release
/inverseCumNormalExample/x64/Release
/Vectorisation/.vs/Vectorisation/v16
/Vectorisation/clang-cl
/Vectorisation/Debug
/Vectorisation/ICC2022
/Vectorisation/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0
/Vectorisation/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native
/Vectorisation/Release
/Vectorisation/x64/Release
/VectorTest/clang-cl
/VectorTest/ICC2022
/VectorTest/Release
/VectorTest/x64/Release
/x64/Release
/Vectorisation/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4
/.vs/Vectorisation/v16
/.vs
/accumulateExample/x64
/GettingStarted/x64
/inverseCumNormalExample/x64
/Vectorisation/x64
/VectorTest/x64
/x64
/accumulateExample/My Advisor Results - accumulateExample
/accumulateExample/VTune Profiler Results/accumulateExample
/cumNormalExample/x64
/inverseCumNormalExample/My Advisor Results - inverseCumNormalExample
/inverseCumNormalExample/VTune Profiler Results/inverseCumNormalExample
/GettingStarted/My Advisor Results - GettingStarted
/accumulateExample/My Inspector Results - accumulateExample
/GettingStarted/My Inspector Results - GettingStarted
/VectorTest/My Advisor Results - VectorTest
/VectorTest/My Inspector Results - VectorTest
/out/build/x64-Debug
/cumNormalExample/My Advisor Results - cumNormalExample
/cumNormalExample/VTune Profiler Results/cumNormalExample
/lattice/x64/Release
/lattice/x64/Debug
/dancingAVX512/x64/clang-cl
/dancingAVX512/x64/ICC2022
/dancingAVX512/x64/Release
/dancingAVX512/x64/clang-cl
/dancingAVX512/x64
/lattice/x64
/lattice/My Advisor Results - lattice
/curveExample/My Advisor Results - curveExample
/curveExample/VTune Profiler Results/curveExample
/curveExample/x64
/Vectorisation/Report20230616-1801.diagsession
/Vectorisation/Report20230616-1731.diagsession
/Vectorisation/My Advisor Results - Vectorisation
/lattice/VTune Profiler Results/lattice
/scratch/My Advisor Results - scratch
/scratch/x64
/scratch
/Release
/GPUCache
/DawnCache
/LeaveOneOutRegression/x64
/LeaveOneOutRegression/Intel® VTune™ Profiler Results/LeaveOneOutRegression
/LeaveOneOutRegression/e000
/LeaveOneOutRegression/annotations.advidb2
/LeaveOneOutRegression/LeaveOneOutRegression.advixeproj
/LeaveOneOutRegression/project_read_only.dflgadvixe
/LeaveOneOutRegression/project_read_only.infoadvixe
/LeaveOneOutRegression/vc140.pdb
/inverseCumNormalExample/cdfNormalInverse.opt.yaml
/inverseCumNormalExample/cdfNormalInverse.optrpt
/inverseCumNormalExample/inverseCumNormalExample.opt.yaml
/inverseCumNormalExample/inverseCumNormalExample.optrpt
/inverseCumNormalExample/ipo_out.optrpt
/debug.log
/Vectorisation.db3
/VariadicReduction/x64/clang-cl23/Variadic.271cf3d5.tlog
/VariadicReduction/x64/clang-cl23/VariadicReduction.Build.CppClean.log
/VariadicReduction/x64/clang-cl23/VariadicReduction.exe.recipe
/VariadicReduction/x64/clang-cl23/VariadicReduction.log
/VariadicReduction/x64/clang-cl23/VariadicReduction.obj
/VariadicReduction/x64/clang-cl23/VariadicReduction.vcxproj.FileListAbsolute.txt
/VariadicReduction/x64/ICC2023/Variadic.271cf3d5.tlog/Cl.items.tlog
/VariadicReduction/x64/ICC2023/Variadic.271cf3d5.tlog/icx-cl-clang-cl.delete.1.tlog
/VariadicReduction/x64/ICC2023/Variadic.271cf3d5.tlog/icx-cl-clang-cl.read.1.tlog
/VariadicReduction/x64/ICC2023/Variadic.271cf3d5.tlog/icx-cl-clang-cl.write.1.tlog
/VariadicReduction/x64/ICC2023/Variadic.271cf3d5.tlog/icx-cl.command.1.tlog
/VariadicReduction/x64/ICC2023/Variadic.271cf3d5.tlog/icx-cl.read.1.tlog
/VariadicReduction/x64/ICC2023/Variadic.271cf3d5.tlog/icx-cl.write.1.tlog
/VariadicReduction/x64/ICC2023/Variadic.271cf3d5.tlog/VariadicReduction.lastbuildstate
/VariadicReduction/x64/ICC2023/Variadic.271cf3d5.tlog/xilink-clang.read.1.tlog
/VariadicReduction/x64/ICC2023/Variadic.271cf3d5.tlog/xilink-lld-link.delete.1.tlog
/VariadicReduction/x64/ICC2023/Variadic.271cf3d5.tlog/xilink-lld-link.read.1.tlog
/VariadicReduction/x64/ICC2023/Variadic.271cf3d5.tlog/xilink-lld-link.read.4.tlog
/VariadicReduction/x64/ICC2023/Variadic.271cf3d5.tlog/xilink-lld-link.read.5.tlog
/VariadicReduction/x64/ICC2023/Variadic.271cf3d5.tlog/xilink-lld-link.write.1.tlog
/VariadicReduction/x64/ICC2023/Variadic.271cf3d5.tlog/xilink.command.1.tlog
/VariadicReduction/x64/ICC2023/Variadic.271cf3d5.tlog/xilink.read.1.tlog
/VariadicReduction/x64/ICC2023/Variadic.271cf3d5.tlog/xilink.write.1.tlog
/VariadicReduction/x64/ICC2023/VariadicReduction.exe.recipe
/VariadicReduction/x64/ICC2023/VariadicReduction.log
/VariadicReduction/x64/ICC2023/VariadicReduction.obj
