################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/build_vcc

/packages
/.vs/DRCubed/v16/TestStore/0
/accumulateExample/clang-cl
/accumulateExample/ICC2022
/accumulateExample/Release
/GettingStarted/clang-cl
/GettingStarted/ICC2022
/GettingStarted/Release
/GettingStarted/x64/Release
/.vs/Vectorisation/v16/ipch/AutoPCH/4e9dfb20cefae0b2
/accumulateExample/x64/Release
/inverseCumNormalExample/clang-cl
/inverseCumNormalExample/ICC2022
/inverseCumNormalExample/Release
/inverseCumNormalExample/x64/Release
/Vectorisation/.vs/Vectorisation/v16
/Vectorisation/clang-cl
/Vectorisation/Debug
/Vectorisation/ICC2022
/Vectorisation/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0
/Vectorisation/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native
/Vectorisation/Release
/Vectorisation/x64/Release
/VectorTest/clang-cl
/VectorTest/ICC2022
/VectorTest/Release
/VectorTest/x64/Release
/x64/Release
/Vectorisation/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4
/.vs/Vectorisation/v16
/.vs
/accumulateExample/x64
/GettingStarted/x64
/inverseCumNormalExample/x64
/Vectorisation/x64
/VectorTest/x64
/x64
/accumulateExample/My Advisor Results - accumulateExample
/accumulateExample/VTune Profiler Results/accumulateExample
/cumNormalExample/x64
/inverseCumNormalExample/My Advisor Results - inverseCumNormalExample
/inverseCumNormalExample/VTune Profiler Results/inverseCumNormalExample
/GettingStarted/My Advisor Results - GettingStarted
/accumulateExample/My Inspector Results - accumulateExample
/GettingStarted/My Inspector Results - GettingStarted
/VectorTest/My Advisor Results - VectorTest
/VectorTest/My Inspector Results - VectorTest
/out/build/x64-Debug
